{% extends "base.html" %}

{%block content%}
<div class="container d-flex flex-row pt-4" id="about">
        <div class=" col pt-2" id="about_col1">
                <p>Price4Cast is designesd to provide price forecasting for basic 
                        food commodities</p>
                <p>The project is intended to increase the accuracy of the existing 
                        forecasting models and to enhance explainability and transparency of 
                        of the predictions done by the machine learning algorithms

                </p>
                <p>
                        The XGBoost model for machine learning was used for training and forecasting the
                        the prices with high confidence values
                </p>

        </div>
        <div class=" col-6">
                <h5 >MISSION: </h5>To provide the most accurate and Reliable price Trends and 
                insights <br>
                <h5>VISION:</h5> To enable a better way of life by enabling a better planning 
                for both individuals and componies hence through our future price predictions <br>
                <p class="pt-3">Price4Cast allows users to forecast prices for basic food commodities in 
                        different Ugandan markets. 
                        It is able to make recommendations to users about the best ideal procurement
                        decissions and different time periods.

                </p>
                <p>We provide Transparency for the machine learning algorithms 
                        in order to enable reliable predictions for the users.
                </p>
                <h5 class="values">VALUES</h5>
                <div class="about">
                <ul >
                        <li>Accuracy</li>
                        <p>We provide predictions that are consistently accurate.</p>
                        <li>Timeliness</li>
                        <p>We provide forecasts in a timely manner tht is crucial for business decissioln making</p>
                        <li>Customistion</li>
                        <p>We provide tailored forecasts and insights to meet the specific needs of individuals and componies</p>
                        <li>Transparency</li>
                        <p>We provide a transparent forecasting in order to enforce trust in our clients</p>
                        <li>Long Term Perspective</li>
                        <p>We provide long term perspective inoreder to enable planning</p>
                        <li>Client Support</li>
                        <p>We are dedicated towards providing client support using our eails and phone calls</p>
                </ul>
        </div>
                
        </div>

        <div class=" col">
                
                <h6>Disclaimer</h6>
                <p>
                        Price forecasting is based on different market Forces and Drivers hence
                        subject to uncertainties. The forecasts are provided for information
                        and decisson making purposes. However, consult financial Advisors and Experts 
                        before making any financial decissions
                        
                </p>

                <p>
                        Our datasets are monthly updated and are obtained from
                </p>
                <h6>Contact Us</h6>
                <ul>
                        <li>
                                <a href="mailto:ssebatyadavid54@gail.com">ssebatyadavid54@gmail.com</a>
                        </li>
                        <li>
                                <a href="mailto:elite256@gail.com">mailto:elite256@gail.com</a>
                        </li>
                        <li>
                                +256707685766
                        </li>
                        <li>
                                +256708857677
                        </li>
                        <li>
                                +256786436716
                        </li>
                        <li>
                                +256709163800
                        </li>
                        
                </ul>
                

                               
               
        </div>
</div>

{% endblock %}