{% extends "base.html" %}


{% block content %}
<header>
    <div class="container-fluid  justify-content-between pt-2 px-5 d-flex" id="btncollection">
        <a href="{{url_for('summary') }}"><button class="btn btn1">Summary </button></a>
        <a href="{{url_for('key_stats') }}"><button class="btn btn1">Key Stats </button></a>
        
        <a href="{{url_for('recommendations') }}"><button class="btn btn1">Recommendations </button></a>
        

    </div>
</header>

<div class="container pt-2 justify-content-between ">
    <h1 class="text-white-75 fw-normal text-center" id="trendsh1">Welcome To our Price Trends and Insigts</h1>
    <!-- flexed container -->
    <div class="container-fluid row">
        <!-- the word section -->
        <div class="container col-5 pt-3 text-white ">
           <p class="fw-semibold" id="p1">Welcome to the Price Trends page! Here, you'll discover a 
            comprehensive analysis of market trends, helping you make informed 
            decisions in an ever-changing landscape. Our dedicated team of experts
             utilizes advanced algorithms <br> and data analysis techniques to provide 
            you with up-to-date insights into price movements across various markets.
        </p>

        <p class="py-3 ">
            With our cutting-edge forecasting models, we strive to provide
            accurate predictions and projections for a wide range of assets. 
        </p>

        <p class="opacity-50 " id="p2">
            Let's navigate the exciting world of price trends together!
        </p>

        </div>

        <!-- visual section -->
        <div class="container-fluid col-7  ps-5 pt-4  " >
            <div id="wrapper">
                <div>
            <img src="/static/images/kaleidico-3V8xo5Gbusk-unsplash.jpg" alt="" class="img1" >
            <h5>Recommendations</h5>
        </div>
            <div>
            <img src="/static/images/regularguy-eth-UqILKDhWiFw-unsplash.jpg" alt="" class="img2">
            <h5 class="text-center">Key Stats</h5>
        </div>
            <div>
            <img src="/static/images/john-schnobrich-FlPc9_VocJ4-unsplash.jpg" alt="" class="img2">
            <h5 class="text-end">Summary</h5>
        </div>
        </div>
        </div>

    </div>
</div>

{% endblock %}