{% extends "base.html" %}

{% block content %}
<section id="sect">
<div class="container-fluid text-center" id="dashboardh1">
  <h1 >For a Better Certainty Of Prices</h1>
  
</div>
</section>

<!-- content container -->
<div class="row align-items-start">
  <div class="container col-5">
    <h4 class="text-center py-2" id="dashboardh4">Choose Predictions Here</h4>
<div class="container-fluid">
  
  <!-- card section -->
  <div class="card text-start " >
    <div class="card-header">
      <h5>Make prediction</h5>
    </div>
    <div class="card-body">
      <form action="/Forecast" method="POST">
        {{ form.csrf_token }}
        {{form.commodity.label (class="py-2")}}
        {{form.commodity (class="form-select w-50")}}
        {{ form.forecasted_date.label (class="py-2")}}
        {{ form.forecasted_date (class="form-select w-50")}}
        {{form.submit (id = "forecast")}}


      </form>
     
      
    </div>
    
  </div>
</div>
</div>
<!-- image section -->
  <div class="col-6 pt-3">
    <div id="slideshow">
    <img src="/static/images/maxim-hopman-fiXLQXAhCfk-unsplash.jpg" alt="">
  </div>
  </div>

</div>
<div class="container pt-4" id="foremsg">
  {% for message in get_flashed_messages() %}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {%endfor%}
  
  
<!-- table for the forecast -->

{% if condition %}
 <!-- table for forecast -->
 
 <center>
  
 <table class="mb-5 w-75 text-center ">
  <tr>
  {% for heading in commodity_heading  %}
  <th class="table_cell">{{heading}}</th>
  {% endfor %}
  <tr id="hdm">
      <td>{{choice}}</td>
      <td>{{owino_price_1}}</td>
      <td>{{owino_price_2}}</td>
      <td>{{owino_price_3}}</td>
      <td>{{owino_price_4}}</td>
  </tr>
</tr>

</table>
<!--  graph feild -->
<div class="col w-75 mb-2 pb-2">
  {%if choice == "Sugar"%}
 <canvas class="bg-light-subtle" id="SugarChart"></canvas>
      
  {%elif choice == "Maize"%}
  <canvas class="bg-light-subtle" id="FlourChart"></canvas>
  {%elif choice == "Rice"%}
  <canvas class="bg-light-subtle" id="RiceChart"></canvas>
  {%else%}
  <canvas class="bg-light-subtle" id="BeanChart"></canvas>
  {%endif%}
  
</div>
</center>


{% endif %}

</div>
<!-- javascript for the graphs -->

<script>
  var ctx = document.getElementById("FlourChart").getContext('2d')
  var lineChart = new Chart(ctx,{
    type: "line",
    data: {
      labels: {{ labels | safe }},
      datasets: [
        {
          label:"Maize Flour",
          data: {{ values_flour | safe }},
          fill: true,
          borderColor: "rgb(0, 0, 255)",
          backgroundColor: "rgba(75, 192, 192, 0.2)",
          borderWidth: 2,
          borderDash: [5, 2],
          lineTension: 0.4
        }
        
      ]
    },
    options:{
      responsive: true,
      
      
    }
  } )
  
</script>
<script>
  var ctx = document.getElementById("BeanChart").getContext('2d')
  var lineChart = new Chart(ctx,{
    type: "line",
    data: {
      labels: {{ labels | safe }},
      datasets: [
        {
          label:"Beans",
          data: {{ values_beans | safe }},
          fill: true,
          borderColor: "rgb(230,0 ,0 )",
          backgroundColor: "rgba(75, 192, 192, 0.2)",
          borderWidth: 2,
          borderDash: [5, 2],
          lineTension: 0.4
        }
        
      ]
    },
    options:{
      responsive: true,  
    }
  } )
  
</script>
<!-- sugarChat -->
<script>
  var ctx = document.getElementById("SugarChart").getContext('2d')
  var lineChart = new Chart(ctx,{
    type: "line",
    data: {
      labels: {{ labels | safe }},
      datasets: [
        {
          label:"Sugar",
          data: {{ values_sugar | safe }},
          fill: true,
          borderColor: "rgb(0, 0, 255)",
          backgroundColor: "rgba(75, 192, 192, 0.2)",
          borderWidth: 2,
          borderDash: [5, 2],
          lineTension: 0.4
        }
        
      ]
    },
    options:{
      responsive: true,
    }
  } )
  
</script>

<script>
var ctx = document.getElementById("RiceChart").getContext('2d')
var lineChart = new Chart(ctx,{
  type: "line",
  data: {
    labels: {{ labels | safe }},
    datasets: [
      {
        label:"Rice",
        data: {{ values_rice | safe }},
        fill: true,
        borderColor: "rgb(0, 0, 255)",
        backgroundColor: [
          "rgba(75, 192, 192, 0.2)",
          "rgba(75, 192, 192, 0.2)",
          "rgba(75, 192, 192, 0.2)",
          "rgba(75, 192, 192, 0.2)",
          "rgba(75, 192, 192, 0.2)",
          "rgba(75, 192, 192, 0.2)",
        ],
        borderWidth: 2,
        borderDash: [5, 2],
        lineTension: 0.4
      }
      
    ]
  },
  options:{
    responsive: true, 
    scales: {
y: {
  ticks: {
    color: "blue" // Change the color of the data labels here
  }
}
}
  }
} )

</script>
  
{% endblock %}

